/* colors */
:root {
    --bgc: #693274;
    --white: #ffffff;
    --green: #bef96e;
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1350px;
    }
}
body {
    background-color: var(--bgc);
    font-family: "Nunito", sans-serif;
}
/* nav */
.navbar-dark .navbar-toggler {
    color: var(--green);
}
.navbar-brand img {
    height: 60px;
}
a.nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;

    color: var(--white) !important;
}
a.nav-link.active {
    border-bottom: 1px solid var(--green);
}
/* index */
.main,
.aboutme,
.myfriends,
.group {
    margin-top: 25px;
    height: 75vh;
}
.main h1,
.aboutme h1,
.myfriends h1,
.group h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 65px;

    color: var(--green);
}
.main p,
.aboutme p,
.myfriends p.friends-main,
.group p {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 15px;

    color: var(--white);
}
.main img,
.aboutme img,
.group img {
    border-radius: 25px;
    width: -webkit-fill-available;
}
@media screen and (max-width: 992px) {
    .main img,
    .aboutme img {
        width: 50%;
        margin-bottom: 25px;
    }
    .group img {
        margin-bottom: 25px;
    }
    .main p,
    .aboutme p,
    .myfriends p,
    .group p {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 576px) {
    .main h1,
    .aboutme h1,
    .group h1 {
        font-size: 44px;
        line-height: 44px;
    }
    .main p,
    .aboutme p,
    .group p {
        font-size: 22px;
        line-height: 35px;
    }
}
/* my friends */
.family p,
.friends p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;

    color: var(--white);
}
.family p {
    margin: 25px 0;
    width: 490px;
}
@media screen and (max-width: 1200px) {
    .family p {
        width: 100%;
    }
}
.family img,
.friends img {
    border-radius: 25px;
    height: 405px;
    width: 305px;
    margin-bottom: 15px;
}
.family img {
    height: 445px;
    width: 360px;
}
.friends .container-fluid {
    padding: 0;
}
